$primary: #C29361;
$hero-text-color: white;
$button-shadow: #E8D8C2;
$basic-text: #384240;
$content-headline: black;
$text-lamination-footer: 0px 0px 3px white, -1px -1px white, 1px 1px white;
$text-lamination-headline: 1px 1px 3px white;