@use 'colors';
@use 'typography';

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
  &__box {
    text-align: center;
    padding: 0px;

    @media screen and (min-width: 860px) {
      padding: 20px;
    }
      
  }
  
  
  &__opening-hours {
    list-style: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

    td {
      padding-left: 20px;
    }
  }
  
  &__link {
    
    a {
    border-bottom: 1px solid colors.$basic-text;
    padding-bottom: typography.$underline-padding / 2;
  
    &:hover {
      padding-bottom: typography.$underline-padding / 2;
      border-bottom: 1px solid colors.$primary;
        }
  
      }
    }
    
    &__headline {  
      display:flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }

  &__icon {  
    background-image: url("/images/logo/logo_11.png");
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

}