
.bistro-rezava {
    background-image: url("/images/photos/IMG_6189.jpeg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.chunkey-donkey {
    background-image: url("/images/photos/IMG_6193.jpeg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.hy-coffee-point {
    background-image: url("/images/photos/IMG_3693.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.prosecco-bar {
    background-image: url("/images/photos/IMG_59669F608878-1.jpeg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.only-fries {
    background-image: url("/images/photos/IMG_6192.jpeg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.street-sushi {
    background-image: url("/images/photos/IMG_6192.jpeg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.offer-image {
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}
